 <script src="__PUBLIC__/assets/js/jquery-1.10.2.min.js"></script>
    <script src="__PUBLIC__/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/assets/plugins/nanoScroller/jquery.nanoscroller.min.js"></script>
    <!--Page Leve JS -->
    <script src="__PUBLIC__/assets/plugins/dataTables/js/jquery.dataTables.js"></script>
    <script src="__PUBLIC__/assets/plugins/dataTables/js/dataTables.bootstrap.js"></script>
    <script src="__PUBLIC__/assets/plugins/waypoints/waypoints.min.js"></script>
    <script src="__PUBLIC__/assets/js/application.js"></script>
    <!--Page Level JS-->
    <script src="__PUBLIC__/assets/plugins/icheck/js/icheck.min.js"></script>
   <script src="__PUBLIC__/plugins/validation/js/jquery.validate.min.js"></script>


</body>

</html>
